{% extends "base.html" %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Bienvenido a Mi App</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Esta es la aplicación segura construida con Flask y MongoDB.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('auth.login') }}" class="btn btn-primary btn-lg px-4 gap-3">Iniciar Sesión</a>
            <a href="{{ url_for('auth.register') }}" class="btn btn-outline-secondary btn-lg px-4">Registrarse</a>
        </div>
    </div>
</div>
{% endblock %}